.feed-container {
    background-color: $color-secondary;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    height: 800px;
    overflow: auto;
    width: 45%;
    &::-webkit-scrollbar{
        width: 2px
    }
}

.post-container {
    border-radius: 30px;
    border: solid black 1px;
    box-shadow: 5px 5px 13px -2px $color-accent;
    
    margin-top: 40px;
    margin-bottom: 10px;
}

.author-container {
    display: grid;
    grid-template-columns: 0.1fr 1fr 0.5fr;
    grid-template-rows: repeat (2, 20px);
    align-items: center;
    justify-content: center;
    h2 {
        grid-column: 2;
        grid-row: 1;
        font-size: 1em;
        margin-bottom: 0px;
        margin-left: 5px;
    } 
    h3 {
        grid-column: 2;
        grid-row: 2;
        font-size: 0.8em;
        margin-top: 3px;
        margin-left: 5px;
        font-style: italic;
        color: darken($color-accent, 30%);
        font-weight: 400;
    }
    .fa-circle-user {
        grid-area: 1 / 1 / 3 /2 ;
        font-size: 2.5em;
        padding-left: 5px;
        padding-top: 2px;
        justify-self: center;
    }
}



.content-container {
    margin-top: 10px;
    .content-text {
        padding-left: 40px;
        font-size: 1em;
        margin-bottom: 20px;
    }
}

.interaction-container {
    display: flex;
    flex-direction: row;
    width: 20%;
    justify-content: space-around;
    margin-left: 5px;

}


.like-container {
    display: flex;
    .fa-heart {
        font-size: 20px;
        padding-top: 15px;
        padding-left: 10px;
        
    }
}

.comments-container {
    display: flex;
    .fa-comments {
        font-size: 20px;
        padding-top: 15px;
        padding-left: 10px;

    }
}


