.postmodule-container {
    background-color: $color-secondary;
    width: 55%;
    justify-content: center;
    align-content: center;
    
}

#publication-form {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    
    border-radius: 30px;
    border: solid black 1px;
    box-shadow: 5px 5px 13px -2px $color-accent;
    margin: 130px auto;
    height: 300px;
    h1{
        font-size: 1.2em;
    }
    
}

.image-input {
    cursor: pointer;
    margin-left: 30px;
    margin-bottom: 40px;
    .post-image{
        text-decoration: none;
    }
    .fa-image{
        font-size: 24px;
    }
}

.post-content {
    height: 90px;
    border-radius: 20px;
    border: none;
    background-color: lighten($color-accent, 20%);
    margin-bottom: 30px;
}

.post-button {
    background-color: lighten($color-accent, 10%);
    border-radius: 20px;
    border: none;
    font-weight: bold;
    font-size: 1em;
    height: 50px;
    width: 130px;
    align-self: center;
}